fastapi==0.115.9
uvicorn==0.34.0
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
python-jose[cryptography]
passlib[bcrypt]
python-multipart
streamlit==1.44.1
lightgbm==4.6.0
scikit-learn==1.6.1
imbalanced-learn==0.14.2
shap==0.52.0
optuna==4.9.0
pandas==2.2.3
numpy==2.2.4
matplotlib==3.11.0
joblib==1.4.2
pytest
httpx
